#hero_profile {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  padding: 5px;
}
.hero_section {
  height: 44rem;
  width: 100%;
  background: rgb(47, 0, 128);
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}
.hero_greeting {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.hero_section .hero_name {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.hero_profile {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.CV_button {
  width: 8rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  margin: 1rem;
  font-size: 1rem;
}
/* .CV_button:hover {
    background: #000;
    color: aliceblue;
} */
.CV_button:active {
  background: none;
  color: #000;
}
.contactinfo_button {
  width: 8rem;
  height: 3rem;
  background: #000;
  color: aliceblue;
  border-radius: 1.5rem;
  border: none;
  margin: 1rem;
  font-size: 1rem;
}
/* .contactinfo_button:hover {
    color: #000;
    background: aliceblue;
} */
.contactinfo_button:active {
  background: none;
  color: aliceblue;
}
.hero_icons a i {
  color: #000;
  margin: 0.5rem;
  font-size: 2.5rem;
}
@media (max-width: 767px) {
  /* #hero_profile {
    height: 370px;
    width: 370px;
    border-radius: 50%;
    padding: 10px;
    margin-top: 11rem;
  
  } */
  #hero_profile {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    padding: 5px;
  }
  .hero_section {
    width: 100%;
    background: rgb(47, 0, 128);
    height:60rem ;
  }

  .hero_greeting {
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }

  .hero_name {
    font-size: 4rem;
    margin-bottom: 0.75rem;
  }

  .hero_profile {
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  .menu-icon {
    display: block; 
  }
}
@media (max-width: 395px) {
  
  #hero_profile {
    margin-top: 11rem;
    height: 370px;
    width: 370px;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: -6rem;
  }
  .hero_section {
    width: 38rem;
    background: rgb(47, 0, 128);
    height: 70rem;
  }

  .hero_greeting {
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  .hero_name {
    font-size: 5rem;
    margin-bottom: 0.75rem;
  }

  .hero_profile {
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
  }

  .menu-icon {
    display: block; 
  }
}

